/**** Start default theme ****/ 
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus ,/* Navbar Active Link */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus , .option-box  .color-option ul li , 
.option-box .gear-check , .carousel-indicators .active , #scroll-top 
{
    
    background-color:  #2a73ce ; 
}

.about h1 span , 
.testimonials span,
.footer .copyright span
{
    color: #2a73ce ;
}

.dropdown-menu {
    border-top: 3px solid #2a73ce ;
}

.option-box  .color-option,
.testimonials .carousel-indicators li.active ,
.price_table .price_box:hover p 
{
    border: solid 3px #2a73ce ;
}

.footer h3{
    color: #b1c92c;
}
/**** End default theme ****/
