body{
    
    padding-top: 70px;
 
    overflow: hidden ;
    
}


h1,h2,h3,h4,.lead,p,span {
    font-family: 'Ubuntu', sans-serif;
}


.mk {
    background: #088 ; 
    color: wheat; 
    margin-bottom: 10px ; 
    padding: 10px ; 
}

.os{
    
  background: grey; 
    color: wheat; 
    margin-bottom: 10px ; 
    padding: 10px ;    
    
}

.prod {
    
    background: orange ; 
    color: black; 
    margin-bottom: 10px ; 
    padding: 10px ; 
    
}


.navbar-inverse .navbar-nav > li > a { /* Normal Link ( navbar) */
    
    color: cornsilk ;
}

.dropdown-menu > li > a {
    
    background-color: #333 ; 
    color: cornsilk ;
}
.dropdown-menu .divider {
    
    background-color: cornsilk;
    color: black ;
}
.navbar-nav > li > .dropdown-menu {
    
    background-color: #333;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    
   
    color: cornsilk ;
}



/* start carousel */
.carousel {
  width:100%;
  height:360px;
    position: center;
}

.carousel-inner > .item > img {
  width:100%;
  height:360px;
}

.carousel-caption {
background: rgba(3,3,3,0.3) ; 
    

}

.carousel-caption .btn {
    margin-bottom: 20px;
}
.carousel-indicators li{
    
    border-color: dodgerblue ; 
}

/* end carousel */ 

/* start section about */ 

.about {
    padding-top: 60px ; 
    padding-bottom: 60px ;
}




.about h1 {
    font-weight: bold ; 
}





.about .lead {
    
    color: gray ;
    margin-top: 15px; 
    font-size: 25px;
}

/* end section about */ 


/* start section Features */ 

.features{
    background:  #eee ;
    padding-top: 50px; 
    padding-bottom: 50px ;
}

.features h1{
    margin-bottom: 29px;
    
}


.features .feat p{
    line-height: 2em;
    
}

.features .feat span.glyphicon {
    
    font-size: 25px;
    margin-bottom: 10px ;
}

/* end section Features */ 


/* Start Testimonials */ 
.testimonials {
    
    padding-top: 50px ;
    padding-bottom: 50px;
    }

.testimonials h1 {
    font-weight: bold ;
    margin-bottom: 20px;
    
}

.testimonials span {
    font-size: 28px ; 
    font-weight: bold ; 
    
   margin-bottom: 20px ;

    
}
.testimonials .carousel-indicators{
    
    position: static ;
    width: 100%;
    margin-left: auto ;
    padding-top: 20px ; 
}


.testimonials .carousel-indicators li {
    text-indent: 0; 
    width: 80px; 
    height: 80px; 
    border-radius: 50px; 
    opacity: 0.4;
    border: none;
    overflow: hidden ;
    margin: 15px ;
    -webkit-transition:all 0.5s  ;
    -moz-transition :all 0.5s ;
    -o-transition : all 0.5s ; 
    transition: all 0.5s;
 
}
.testimonials .carousel-indicators li.active  {
    opacity: 1;
    background: none ;
    
}

.testimonials .carousel-indicators li img {
    max-width: 100%; 
   
  
}

/* End Testimonials */ 

/*start section price table */ 

.price_table h1 {
    margin-bottom: 30px;
    
}

.price_table {
    
    background: #eee ; 
    padding-top: 40px;
    padding-bottom: 40px ; 
}

.price_table .price_box {
    
    background: #fff ; 
    padding: 10px ; 
    border: 1px solid #ddd;
    margin: 10px;
}

.price_table .price_box h2 {
    
    margin: 5px 0px 15px ; 
}

.price_table .price_box:hover p {
    
    -webkit-transform : scale(1.1,1.1) rotate(360deg)  ;
    -moz-transform : scale(1.1,1.1)  rotate(360deg)  ;
    -o-transform : scale(1.1,1.1)  rotate(360deg)  ;
    transform : scale(1.1,1.1)  rotate(360deg)  ;
    
}

.price_table .price_box p {
    font-size:  15px ; 
    font-weight: bold ; 
    color: #666 ;
    max-height: 100% ;
    width: 100px ; 
    background: #f3f3f3 ; 
    border-radius: 100px ;
    line-height: 100px ;
    -webkit-transition-duration : 0.7s ;
    -o-transition-duration : 0.7s ; 
    -moz-transition-duration : 0.7s ;
    transition: 0.7s;
}

.price_table .price_box ul {
    
    line-height: 250% ; 
    font-size: 15px ;
}
.price_table .price_box a {
    
    margin-bottom: 15px
}

/* start our team section */ 

.ourteam {
    
    background: url('../Images/team.jpg') no-repeat  center fixed ;
    width:  100% ; 
    min-height: 600px;
    -webkit-background-size: cover ;
    -o-background-size : cover ;
    -moz-background-size : cover ;
    background-size : cover ;
}

.ourteam .team{
    
    background: rgba(2,2,2,0.8) ; 
    color: #fff ;
    min-height: 600 ;
    padding-top: 40px ; 
    padding-bottom: 40px ; 
}

.ourteam h1 {

padding-bottom: 20px;
}

.ourteam .Person img {
  
    height: 200px; 
    max-width: 100% ;
    padding-bottom:  20px ;
 
    
}
.ourteam .Person {
    
    margin-bottom:50px ;
}

/* start font Awosone */ 

a .fa-youtube {
    
    color: #ff0000 ;
}

a .fa-twitter {
    
    color: #1da1f2 ;
}

a .fa-instagram {
    
    color: #c13584   ;
}

a .fa-facebook {
    
    color: #3b5998  ;
}



/* Section Subscribe */ 

.subscribe {
    
    padding-top: 40px ; 
    padding-bottom: 40px ; 
    background: #eee ;
}

.subscribe  h1 {
    
    margin-bottom: 20px ; 
    color: #888 ; 
    letter-spacing: 2px ;
}

.subscribe p {
    
    margin-bottom: 30px;
}

.subscribe .form-control {
    border-radius: 0 ;
    margin-right: -5px;
}
.subscribe button {
    
    border-radius: 0;
}

/* start section statictics */ 


.statistics {
    
 background:  url('../Images/stat.png') no-repeat center fixed ; 
    min-height: 300px ; 
    min-width: 100px ;
    -webkit-background-size : cover ;
    -o-background-size : cover ;
    -moz-background-size : cover ;
    background-size : cover ;
   
    
}

.statistics .data {
    
    background-color:  rgba(2,2,2,0.8) ;
    min-height: 300px ; 
    color: #eee ; 
}

.statistics .data h1{
    
    margin-bottom: 60px ; 
}

.statistics .stats {
    
    margin-bottom: 20px ;
    -webkit-transition :2s; 
    -o-transition : 2s  ;
    transition : 2s;
     
}

.statistics .stats:hover {
    color:  aqua;
   
}
.statistics p{
    font-size: 50px ; 
    font-weight: 60;
    margin-bottom: 0px;
}

/* our skills section */ 

.our-skills {
 padding-top: 40px ;
    padding-bottom: 40px ; 
    
}

.our-skills h1 {
margin-bottom: 60px;
font-weight: bold ;

}

.our-skills .progress-bar{
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    text-align: left ;
    text-indent: 10px ; /* يبعد عن الحرف */ 
   
} 

.our-skills .progress {
    height: 45px ;  
}

/* start contact us */ 

.contact-us {
    
    background:url(../Images/cont.jpg) no-repeat center fixed ; 
    min-height: 300px;
    background-size: cover ;
       margin-top: 40px;
   color: #eee;
}

.contact-us .cont {
    
    background: rgba(2,2,2,.7);
    min-height: 300px;
    padding-top: 20px;
     
 
}







.contact-us  textarea {
    min-height: 108px;
    
}

.contact-us input[type="text"] , 
.contact-us textarea {
background: rgba(82,78,78,0) ; /*tramsperant color */
    color: #eee ; 
    
    
}

/* strart section our-clients */ 


.our-clients {
    
    background:  #eee ; 
    padding-top:  40px;
    
}

.our-clients img {
    width: 60px;
    height: 64px;
    opacity: 0.4 ;
    filter:alpha(opacity=40) ; /* for IE */ 
    margin-top: 20px;
    margin-bottom: 20px;
  /*  -webkit-transition:all 0.7s ease-in-out;
    -o-transition :all 0.7s ease-in-out;
    -moz-transition :all 0.7s ease-in-out;
    transition :all 0.7s ease-in-out;*/
    transition: 1s ;
    
}
.our-clients img:hover{
    opacity: 1 ;
    transform: scale(1.1,1.1) rotate(360deg);
    
    
}
/* start footer */ 


.footer {
    
    background: #111 ; 
    color: #aaa ; 
    padding-top: 20px ; 
  
}

.footer a {
    color: #aaa ;
}

.footer a:hover {
    color: #eee; 
    
}
.footer h3{
  
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer .three-col{
    overflow: hidden ; 
    margin-bottom: 20px;
}

.footer .three-col li {
    
    width: 33.333% ;
    float: left ;
    padding-bottom: 5px;
    padding-top: 5px;
    
    
}

.footer .social-list li {
    
    float: left ; 
    margin-right: 10px ;
    margin-bottom: 25px ;
    
    opacity: 0.5 ;
    filter:alpha(opacity=70);
    -webkit-transition: 0.5s ;
    -o-transition : 0.5s;
    -moz-transition :0.5s;
    transition: 0.5s;
}

.footer .social-list li:hover{
    opacity: 1;
   
}



.player img {
    height: 100px;
    width: 150px ;
    opacity: 0.4;
    margin-top: 5px;
    -webkit-transition : 0.5s;
    
}

.player img:hover {
    opacity: 1;
    transform: scale(1.2,1.2) ;
}

.footer .img-thumbnail {
    background: rgba(3,3,3,0.3);
    border: 1px solid #666;
    
}
 
.footer .copyright {
    background: #333 ;
    color: #aaa;
    padding: 15px 0 ;
    margin-top: 10px;
    font-size: 18px;
}



/* start media query */ 

@media (max-width:767px) /* max width for mobile and tablets from 0 to small */
{
    .navbar-nav > li > a {
        line-height: 10px;
        
    }    
    
    .subscribe button {
        margin-top: 20px;
    }
    
}

@media (min-width:768px) and (max-width:991px) /* from small to medium  screens */ 

{
    
}

@media (min-width : 992px) and (max-width : 1199px) /* from medium to large screen */ 
{
    
}

@media (min-width : 1200px) /* for large screen */ 
{}


/*start section tool box */ 

.option-box {
    position: fixed ;
    top:100px;
    z-index: 9999;
    
}

.option-box  .color-option {
    float: left ;
    background: #333 ;
    padding: 10px;
    widows: 200px ; 
    
    display: none ;
    
}

.option-box  .color-option h4 {
    color: #eee;
}

.option-box  .color-option ul li {
    
    height: 10px;
    width: 10px;
    display: inline-block ;
    margin-right: 5px;
    cursor: pointer ; /* change mouse pointer to hand like it for link press */ 
}

.option-box .gear-check {
    padding: 5px;
    
    color: #333 ;
}

/* start loading */ 

.loading-overlay {
    background: #222;
    color: #fff ;
    position: fixed; 
    left: 0 ; 
    top: 0; 
    width: 100% ; 
    height: 100% ;
    z-index: 9999;
    }

.sk-folding-cube {
    background-color: #c9302c ;
  margin: 200px auto;
  width: 70px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* start scroll up */ 

#scroll-top{
    width: 50px ; 
    height: 40px ;
text-align: center ;
   right: 15px;
    bottom: 10px;
    position: fixed;
    z-index: 9999;  
    color: #ddd; 
    display: none;
    cursor: pointer ;

}
